    #welcome {
        margin: auto;
        margin-top: 38px;
        text-align: center;
        font-size: 2em;
        font-family: 'Nunito', sans-serif;
        color: rgb(0, 170, 204);
        text-shadow: rgb(79, 79, 79) 5px 1px 10px;
        /*animation-name: welcome;
        animation-duration: 1.5s;*/
    }
    
    @keyframes welcome {
        from {
            margin-top: -10px;
            color: rgb(255, 255, 255);
            text-shadow: rgb(255, 255, 255) 5px 1px 10px;
        }
        to {
            margin-top: 60px;
            color: rgb(0, 170, 204);
        }
    }
    
    #Col-charts {
        position: absolute;
        top: 250px;
        width: 80%;
        height: 840px;
        padding-left: 3%;
        margin-left: 8%;
        /*border: 1px solid rgb(252, 10, 10);*/
    }
    
    #Col-DE {
        position: absolute;
        width: 26%;
        padding: 2%;
        box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
    }
    
    #Col-prob {
        position: absolute;
        margin-left: 31%;
        width: 62%;
        box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
    }
    
    #past_charts {
        position: absolute;
        top: 510px;
        width: 65%;
        height: 160px;
        padding-left: 8%;
        margin-left: 6%;
        /*border: 1px solid rgb(252, 10, 10);*/
    }
    
    #col_y1,
    #col_y2,
    #col_y3,
    #col_y4 {
        position: absolute;
        width: 14%;
    }
    
    #col_y3 {
        margin-left: 23%;
    }
    
    #col_y2 {
        margin-left: 45%;
    }
    
    #col_y1 {
        margin-left: 67%;
    }
    
    #yr_in_H {
        position: absolute;
        margin-top: 250px;
        margin-left: 31%;
        width: 20%;
        box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
    }
    
    #wk_in_H {
        position: absolute;
        margin-top: 250px;
        margin-left: 52%;
        width: 20%;
        box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
    }
    
    #flex_chart {
        position: absolute;
        margin-top: 250px;
        margin-left: 73%;
        width: 20%;
        box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
    }
    
    #Col-report {
        position: relative;
        margin-left: 9%;
    }
    
    #Col-entry,
    #Col-report {
        position: absolute;
        top: 1170px;
        padding: 10px 25px;
        font-family: 'Nunito', sans-serif;
        background-color: white;
        border: 1px solid rgb(8, 152, 205);
        font-size: 1em;
        border-radius: 2px;
        margin-left: 9%;
    }
    
    #Col-entry:hover,
    #Col-report:hover {
        background-color: rgb(8, 152, 205);
        color: white;
    }
    
    #Col-report {
        margin-left: 51%;
    }
    
    #Col-entry {
        margin-left: 42%;
    }
    
    #Col-probLW,
    #Col-DELW {
        position: absolute;
        top: 270px;
        border: 1px solid black;
    }
    
    #Col-probLW {
        margin-left: 21%;
    }