        #Main-Splash {
            background-image: url('Images/flint.png');
            margin-top: -40px;
            height: 140px;
            margin-left: -10px;
            margin-right: -10px;
        }
        
        header h1 {
            font-family: 'Nunito', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 3em;
            font-stretch: expanded;
            padding-top: 75px;
            animation: mystretch 3s forwards;
        }
        
        header h2 {
            font-family: 'Nunito', sans-serif;
            text-align: center;
        }
        
        @keyframes mystretch {
            to {
                letter-spacing: 0.2em;
            }
        }
        
        .navbar a:hover {
            background-color: white;
            color: black;
            cursor: default;
        }
        
        .navbar {
            background-color: gray;
            height: 25px;
            margin: -10PX;
            margin-top: -1px;
            overflow: hidden;
        }
        
        .navbar a {
            font-family: 'Nunito', sans-serif;
            text-decoration: solid;
            color: white;
            font-size: 1.3em;
            text-align: center;
            margin-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px;
        }
        
        .navbar #Dent {
            position: relative;
            margin-left: 30%;
        }
        
        .navbar #DentEnd {
            position: relative;
            margin-right: 10%;
        }
        
        .Box-charts {
            margin-top: 15px;
            margin: auto;
            height: 300px;
            /*border: 1px solid black;*/
            width: 80%;
            position: relative;
        }
        
        #Col2022,
        #def2022 {
            position: absolute;
            margin-top: 20px;
            box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);
            border-radius: 2%;
        }
        
        #Col2022 {
            margin-left: 24%;
            width: max-content;
        }
        
        #def2022 {
            margin-right: 14%;
            margin-left: 55%;
            width: max-content;
        }
        
        #col_title {
            color: rgb(10, 176, 206);
        }
        
        #def_title {
            color: rgb(97, 143, 11);
        }
        
        .Past_charts {
            margin: auto;
            height: 150px;
            width: 80%;
            position: relative;
        }
        
        #col_y1,
        #col_y2,
        #col_y3,
        #col_y4,
        #def_y1,
        #def_y2 {
            position: absolute;
            /*border: 1px solid black;*/
        }
        
        #col_y1 {
            margin-left: 37%;
        }
        
        #col_y2 {
            margin-left: 25%;
        }
        
        #col_y3 {
            margin-left: 12%;
        }
        
        #def_y1 {
            margin-left: 50%;
        }
        
        #def_y2 {
            margin-left: 62%;
        }
        
        #curr_iss {
            margin: auto;
            height: 150px;
            width: 80%;
            position: relative;
            /*border: 1px solid black;*/
        }
        
        #col_iss,
        #def_iss {
            position: absolute;
            margin-top: 30px;
            height: 600px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            width: 36%;
            margin-left: 8%;
            padding: 1em;
            /*box-shadow: 0.5px -10px 10px rgb(196, 195, 195);*/
        }
        
        #def_iss {
            margin-left: 50%;
        }