        #Main-Splash {
            background-image: linear-gradient(rgba(0, 0, 0, 0.449), rgba(0, 0, 0, 0.347)), url('Images/allyson-beaucourt-m_uSWBJWr0s-unsplashcut.jpg');
            background-size: cover;
            margin-top: -20px;
            height: 540px;
            margin-left: -8px;
            margin-right: -8px;
        }
        
        header h1 {
            font-family: 'Nunito', sans-serif;
            text-transform: uppercase;
            text-align: left;
            font-size: 2.4em;
            font-stretch: expanded;
            padding-top: 75px;
            padding-left: 10px;
            margin-top: -520px;
            color: rgb(255, 255, 255);
            text-shadow: rgb(0, 0, 0) 5px 1px 10px;
            animation: mystretch 2s forwards;
        }
        
        header h2 {
            font-family: 'Nunito', sans-serif;
            text-align: center;
        }
        
        @keyframes mystretch {
            to {
                letter-spacing: 0.2em;
            }
        }
        
        .navbar a:hover {
            text-shadow: rgb(255, 255, 255) 1px 5px 30px;
            cursor: default;
            border-top: 2px solid rgb(184, 184, 184);
            transition: all 200ms ease-out;
            border-color: rgba(235, 163, 19, 0.637);
        }
        
        .navbar a {
            font-family: 'Nunito', sans-serif;
            text-decoration: solid;
            color: white;
            padding-right: 10px;
            padding-left: 10px;
            transition: all 1s;
        }
        
        .navbar {
            margin-top: -150px;
            float: right;
            margin-right: 5%;
            word-spacing: 2em;
        }
        
        .Box-charts {
            margin: auto;
            margin-top: 20px;
            height: 300px;
            width: 80%;
            position: relative;
        }
        
        #main_body {
            height: 1320px;
            margin-top: 20px;
        }
        
        #Col2022,
        #def2022 {
            position: absolute;
            margin-top: 20px;
            box-shadow: 0.5px 1px 15px rgb(158, 158, 158);
            border-radius: 2%;
        }
        
        #col_de_main {
            color: rgb(77, 77, 77);
            font-weight: bold;
            font-size: 120%;
        }
        
        #curr_iss {
            width: 101%;
            height: 900px;
            margin-left: -9px;
            margin-right: -40px;
        }
        
        #col_overall {
            position: absolute;
            color: rgb(160, 160, 160);
            top: 480px;
            width: 8%;
            padding-left: 1%;
            padding-right: 0.5%;
            margin-left: -8%;
            border-left: 2px solid rgb(10, 176, 206);
            /*box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);*/
        }
        
        #def_overall {
            position: absolute;
            top: 480px;
            color: rgb(160, 160, 160);
            width: 8%;
            padding-right: 0.5%;
            padding-left: 0.5%;
            margin-left: 99%;
            border-right: 2px solid rgb(97, 143, 11);
            /*box-shadow: 0.5px 0.5px 15px rgb(209, 209, 209);*/
        }
        
        #Col2022 {
            margin-left: 13%;
            width: max-content;
            box-shadow: 0.5px 0.5px 15px rgb(0, 0, 0);
        }
        
        #def2022 {
            margin-left: 62%;
            width: max-content;
            box-shadow: 0.5px 0.5px 15px rgb(0, 0, 0);
        }
        
        #col_title {
            color: rgb(10, 176, 206);
        }
        
        #def_title {
            color: rgb(97, 143, 11);
        }
        
        .Past_charts {
            margin: auto;
            height: 150px;
            width: 80%;
            position: relative;
        }
        
        #col_iss,
        #def_iss {
            position: absolute;
            margin-top: 40px;
            height: 800px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            width: 33%;
            margin-left: 13%;
            margin-right: 12%;
            padding: 1em;
            box-shadow: 0.5px 0.5px 5px rgb(102, 99, 99);
            background-color: white;
            /*box-shadow: 0.5px -10px 10px rgb(196, 195, 195);*/
        }
        
        #def_iss {
            margin-left: 52%;
        }
        
        #footer_banner {
            height: 160px;
            background-color: rgb(49, 49, 49);
            margin-left: -8px;
            margin-right: -8px;
        }